
* {
margin: 0;
padding: 0;
}

body { background-image: url(images/foto\ fundo.png);

background-size: cover;
background-position: center;
background-repeat: no-repeat;



font-family: sans-serif;
font-size: 15px;


height: 100%;
width: 100%;
margin: 0;
padding: 0;
overflow: hidden;

}

img{
    border-radius: 100px;
    width: 170px;
    height: 170px;

    
}


h1{color: rgb(255, 255, 255);
margin-top: 13px;
margin-bottom: 8px;
}

p {color: white;}

ul {margin-top: 30px;


margin: 10px;


}

li {margin-bottom: 5px;
list-style: none;
display: flex;
justify-content: center;
align-items: center;
}

a {
    background-color:rgb(236, 205, 146);

    color: rgb(255, 255, 255);
    text-decoration: none;
    display: block;
    border-radius: 5px;
    padding:5px;
    width: 100px;
}

a:hover {
background-color:rgb(250, 249, 247);
color: rgb(236, 205, 146);

}

.container {

    
    width: 340px;
    text-align: center;
    margin-top: 41px;
    margin-left: auto;
    margin-right: auto;
}

